*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins), sans-serif;
}

:root{
  --main-color:#a5978a;
  --second-color:#c5c5c5;
  --color-1:#fdfbf9;
  --color-2:#ffffff;
  --color-3:#5e5b5c;
  --color-4:#3b3b3b;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-1);
  color: var(--color-4);
}

a{
  text-decoration: none;
  color: var(--color-3);
}